@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-ko: 'IncheonMICE', sans-serif;
  --font-en: 'K2D', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ko), serif;
  font-weight: 300; /* Light */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Bold */
}

span {
  font-weight: 500; /* Regular */
}

p {
  font-weight: 300; /* Light */
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.english-text {
  font-family: var(--font-en), serif;
}

.korean-text {
  font-family: var(--font-ko), serif;
}

/* large~ */
@media (min-width: 1024px) {
  .category-large {
    @apply p-3 pt-5
  }

  .category-item-large {
    @apply p-3 pt-1 pb-1 m-1 rounded-lg;
  }
}

/* Styles for small screens */
@media (max-width: 1023px) {
  .category-small {
    @apply p-3 pt-5
  }

  .category-item-small {
    @apply p-3 pt-1 pb-1 m-1 rounded-lg;

  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.auto-resize {
  overflow: hidden;
  resize: none;
  min-height: 12rem; /* Minimum height of the editor */
  max-height: none;  /* No maximum height */
}